@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&family=Silkscreen:wght@400;700&display=swap');

body {
  background-color: #2F3D40;
  font-family: 'JetBrains Mono', monospace;
}

.card-object {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;

  margin: 16px 0.3rem;
  padding: 8px;
  min-height: 300px;
  background-color: #3D5A73;
  position: relative;
  overflow: hidden;
  color: #00FFDE;
}

.card-object::after {
  content: "";
  position: absolute;
  bottom: -25px;
  right: -25px;
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  background-color: #2F3D40;
}

.card-object h3 {
  width: 100%;
  text-align: center;
  color: #FFF;
}

.card-object img {
  width: 150px;
  height: 150px;
}

.card-object .card-data {
  font-size: 3rem;
}